@import "invenio_app_rdm/theme";
@import "variables";

// Frontpage


.section-title {
  -webkit-font-smoothing: antialiased;
  font-size: 2.5em;
  width: 100%;
  text-align: center;
  display: block;
  color: #526479;
  margin-bottom: 45px;
  font-weight: 500;
}

.geo-knowledge-hub-goals {
  display: flex;
  flex-direction: row;
  margin: 20px 80px;

  i {
    font-size: 2em;
    color: #526479;
  }

  h3 {
    color: #526479;
  }

  .gkh-goal {
    text-align: center;
    margin: 30px;
  }
}